<h2><%= @game.current_player.name %>'s turn'</h2>
<a href="/attack">Attack</a>

<div style='background-color:coral'>
  <%= @game.player1.name %> vs. <%= @game.player2.name %>
</div>
<!-- <button type="submit" name="attack_player2" onclick="href='/attack'">Attack</button> -->

<p><%=@game.player2.name%>'s HP:<%=@game.player2.current_hp%> </p>
<p><%=@game.player1.name%>'s HP:<%= @game.player1.current_hp%> </p>
